{% extends 'diary/base.html' %}

{% block title %} author#{{object.pk}} {{ object.username }} {% endblock %}

{% block content %}

<h2>My posts</h2> 
<br>
{% for post in  object.post_set.all %}
<a href="{% url 'post-detail' post.pk %}" id="{{post.pk}}"><h3>{{ post.title }}</h3></a>
<p class="author">{{ post.created|date }} at {{ post.created|time:"H:i" }}
    {% if not post.published %}
    <br><b>*unpublished</b></p>
    {% endif %}
<p>
    <i>{{ post.content|truncatechars:100 }}</i>
    <br>
    {% if post in liked_by_user %}
    <a href="{% url 'add-like' post.id %}" class="like">&#10084; {{ post.like__count }}</a>
    {% else %}
    <a href="{% url 'add-like' post.id %}" class="like">&#9825; {{ post.like__count }}</a>
    {% endif %}


</p>
<br>
{% endfor %}


{% endblock %}