{% extends 'diary/base.html' %}

{% block title %} Posts {% endblock %}

{% block content %}

{% for post in  object_list %}
<a href="{% url 'post-detail' post.pk %}"><h3>{{ post.title }}</h3></a>
<p class="author"><a href="{% url 'author-detail' post.author.pk %}">{{ post.author.username }}</a><br>{{ post.created }}
    {% if not post.published %}
    <br>
    <b>*unpublished</b>
    {% endif %}
</p>
<p>
    <i>{{ post.content|truncatechars:100 }}</i>
    <br>
    <a href="#" class="like">&#10084; {{ post.like__count }}</a>
</p>
<br>
{% endfor %}


{% endblock %}

