{% extends "diary/base.html" %}


{% block content %}
<h5>Enter new password</h5>
<hr>

{% if validlink %}


<form method="post" class="auth-form">{% csrf_token %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <input class="visually-hidden" autocomplete="username" value="{{ form.user.get_username }}">

    <div class="form-text">{{ form.new_password1.errors }}</div>
    <div class="mb-3">
        <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-text">{{ form.new_password2.errors }}</div>
    <div class="mb-3">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.<br>Please request a new password
    reset.</p>

{% endif %}

{% endblock %}