{% extends 'diary/base.html' %}

{% block title %} post#{{object.pk}} {{ object.title }} {% endblock %}

{% block content %}

{% load diary_tags %}

<div style="max-width: 700px;" class="container">

<div style="display: flex; justify-content: space-between;">
    <div>
        <h3 class="title"> {{object.title}} </h3>
    </div>
    <div>
    {% if user.is_authenticated and object.author == user or user.is_staff %}
    <a href="{% url 'post-update' object.id %}" class="btn btn-success btn-sm" style="width: 60px; margin-bottom: 1px;">Edit</a>
    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm" style="width: 60px;">Delete</a>
    {% endif %}
    </div>
</div>

<div>
    {% if user.is_authenticated and object in liked_by_user %}
    <a a href="{% url 'like-create-destroy-post-api' %}" id="{{ object.id }}" class="like">&#10084; {{ object.like__count }}</a>
    {% elif user.is_authenticated %}
    <a href="{% url 'like-create-destroy-post-api' %}" id="{{ object.id }}" class="like">&#9825; {{ object.like__count }}</a>
    {% else %}
    <a href="{% url 'login' %}" id="{{ object.id }}" class="like">&#9825; {{ object.like__count }}</a>
    {% endif %}
    &nbsp;&nbsp;
    <p class="author" style="display: inline-block;"><a href="{% url 'author-detail' post.author.pk %}">{{ object.author.username }}</a>
    <br>
    {{ post.created|date }} at {{ post.created|time:"H:i" }}
   
    {% if not object.published %}
    &nbsp;&nbsp;
    <b>*unpublished</b>
    {% endif %}
    </p>

</div>

{% if object.image %}
<a href="{{ object.image.url }}">
<img src="{{ object.image.url }}" alt="{{ object.title }} image" class="img-fluid">
</a>
{% endif %}

<div class="title">
    <p>{{ object.content|linebreaks|urlizetrunc:40|url_target_blank }}</p>
</div>

</div>

{% endblock %}

