{% extends 'diary/base.html' %}

{% block title %} Posts {% endblock %}

{% block content %}

{% for post in  object_list %}

<div class="post">

<div>
<a href="{% url 'post-detail' post.pk %}"><h3 class="title">{{ post.title }}</h3></a>
<p class="author"><a href="{% url 'author-detail' post.author.pk %}">{{ post.author.username }}</a><br>{{ post.created|date }} at {{ post.created|time:"H:i" }}
    {% if not post.published %}
    <br>
    <b>*unpublished</b>
    {% endif %}
</p>
<p class="title">
    <a href="{% url 'post-detail' post.pk %}" class="post-content">
    <span class="short-post">{{ post.content|truncatechars:100 }}</span>
    </a>
    <br>

    {% if user.is_authenticated and post in liked_by_user %}
    <a href="{% url 'like-create-destroy-post-api' %}" id="{{ post.id }}" class="like">&#10084; {{ post.like__count }}</a>
    {% elif user.is_authenticated %}
    <a href="{% url 'like-create-destroy-post-api' %}" id="{{ post.id }}" class="like">&#9825; {{ post.like__count }}</a>
    {% else %}
    <a href="{% url 'login' %}" id="{{ post.id }}" class="like">&#9825; {{ post.like__count }}</a>
    {% endif %}

</p>
</div>

{% if post.image %}
<div>
<a href="{% url 'post-detail' post.pk %}">
<img src="{{ post.image.url }}" alt="" class="rounded float-left post-img">
</a>
</div>
{% endif %}


</div>
<hr>
<br>
{% endfor %}


{% endblock %}

