.like {
    font-size: x-small;
}

a {
    text-decoration: none !important;
}

.author {
    font-size: x-small;
}

.short-post {
    font-family: 'Nunito', sans-serif;
}

.errorlist {
    font-style: italic;
    color: red;
}

.auth-form {
    max-width: 500px;
}

