html {
    scroll-padding-top: 4rem;
  }

.like {
    font-size: small;
}

a {
    text-decoration: none !important;
}

a:focus {
    outline: 0;
    border: none;
  }


.author {
    font-size: x-small;
}

.short-post {
    font-family: 'Nunito', sans-serif;
}

.errorlist {
    font-style: italic;
    color: red;
}

.auth-form {
    max-width: 500px;
}

.author-list {
    font-size: small;
}


.add-post {
    position: fixed;
    top: 100px;
    right: 0;
}

.post {
    display: flex;
    justify-content: space-between;
}

.post-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.post-content {
    color: black;
}

.selected {
    /* background-color: lightgray !important; */
    font-weight: bold;

    /* text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3); */

    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1); */

}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
  }
